.Form {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    width: 100%;
}

.Form input {
    height: 5rem;

    border-radius: 1rem;
    
    border: 0;

    background-color: #f5f7f9;
    padding: 2rem;
    font-size: 1.5rem;
}

.Form input:focus {
    outline: 1px solid #157afe;
}