.Form {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    width: 100%;
}

.Form label {
    width: 100%;

    
}

.Form label div {
    display: flex;
    align-items: center;

    position: relative;
}

.Form label div svg {
    width: 2rem;
    height: 2rem;

    position: absolute;
    left: 2rem;
}

.Form label div input {
    height: 5rem;
    width: 100%;

    border-radius: 1rem;
    
    border: 0;

    background-color: #f5f7f9;
    padding: 2rem 0 2rem 6rem;
    font-size: 1.5rem;
}

.Form label div input:focus {
    outline: 1px solid #157afe;
}

.Form label div > input:focus + svg {
    stroke: #157afe;
}

.Form label div .inputNotValid {
    outline: 1px solid red;

    animation: invalid 0.3s;
}

@keyframes invalid {
    25% {
        transform: translate(10px);
    }

    50% {
        transform: translate(-20px);
    }

    100% {
        transform: translate(0);
    }
}

.Form label p {
    font-size: 1.3rem;
    color: red;
    font-weight: 500;

    margin-top: 0.7rem;
}

.Form button {
    width: 100%;
    height: 5rem;

    color: white;

    border-radius: 1rem;
    border: 0;

    font-size: 2rem;

    margin-top: 1rem;

    transition: 0.3s ease-in-out;

    background-color: #157afe;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.90);

}