.containerLogin {
    width: 100%;
    height: 100vh;

    padding: 0 2rem 0 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: white;

    color: black;

    overflow: hidden;

    position: relative;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    width: 100%;

    height: 100vh;
    background-color: rgb(254, 254, 254, 0.3);
    border-radius: 1rem;

    backdrop-filter: blur(1rem);
}

.Login .description {
    max-width: 60rem;
    width: 100%;

}

.Login .descriptionLogin  {
    margin-bottom: 5rem;
}

.Login .descriptionLogin  h1 {
    margin-bottom: 1rem;

    font-size: 4rem;
    font-weight: 500;
}

.Login .descriptionLogin  p {
    font-size: 2rem;
    font-weight: 500;

    color: #b0b4b9;
    
}
